*.so filter=lfs diff=lfs merge=lfs -text
*.so.* filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
tools/x86_64/testWebrtcClient filter=lfs diff=lfs merge=lfs -text
tools/x86_64/tokkioTestClient filter=lfs diff=lfs merge=lfs -text
src/oss_sources/postgresql-14.0.tar.bz2 filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
static/js/*.js filter=lfs diff=lfs merge=lfs -text
static/js/*.map filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.js.LICENSE.txt filter=lfs diff=lfs merge=lfs -text
*.js.map filter=lfs diff=lfs merge=lfs -text
src/oss_sources/libpqxx-7.8.1.tar.gz filter=lfs diff=lfs merge=lfs -text
webroot/static/js/main.efe9edfc.js.map filter=lfs diff=lfs merge=lfs -text
webroot/static/js/main.efe9edfc.js filter=lfs diff=lfs merge=lfs -text
tools/x86_64/testWebrtcTool filter=lfs diff=lfs merge=lfs -text
tools/aarch64/testWebrtcTool filter=lfs diff=lfs merge=lfs -text
prebuilts/sbsa/deepstream/** filter=lfs diff=lfs merge=lfs -text
prebuilts/aarch64/libpq.so filter=lfs diff=lfs merge=lfs -text
prebuilts/aarch64/libpq.so.5 filter=lfs diff=lfs merge=lfs -text
prebuilts/aarch64/libpq.so.5.16 filter=lfs diff=lfs merge=lfs -text
prebuilts/aarch64/libpqxx-7.8.so filter=lfs diff=lfs merge=lfs -text
prebuilts/aarch64/libpqxx.so filter=lfs diff=lfs merge=lfs -text
prebuilts/aarch64/sbsa/libnvbufsurftransform.so.1.0.0 filter=lfs diff=lfs merge=lfs -text
ui/**/*.js -filter -diff -merge text=auto
ui/**/*.js.map -filter -diff -merge text=auto
ui/**/*.js.LICENSE.txt -filter -diff -merge text=auto
