include ../spatialai_data_utils/assets/*.json
include ../spatialai_data_utils/schemas/*.json
include ../spatialai_data_utils/datasets/aicity25/scenes/*.json
include ../spatialai_data_utils/datasets/aicity26/scenes/*.json
include NOTICE
include 3rdParty_Licenses.md